.hamburger {
    position: fixed;
    top: 16px;
    right: 16px;
    min-width: 25%;
    background: #d7d6d7;
    background-image: -webkit-linear-gradient(
      top,
      #d7d6d7,
      rgba(135, 106, 159, 0.86)
    );
    background-image: -moz-linear-gradient(
      top,
      #d7d6d7,
      rgba(135, 106, 159, 0.86)
    );
    background-image: -ms-linear-gradient(
      top,
      #d7d6d7,
      rgba(135, 106, 159, 0.86)
    );
    background-image: -o-linear-gradient(top, #d7d6d7, rgba(135, 106, 159, 0.86));
    background-image: linear-gradient(
      to bottom,
      #d7d6d7,
      rgba(135, 106, 159, 0.86)
    );
    border-radius: 15px;
    color: #57304e;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 1px 1px 8px 5px rgba(233, 205, 233, 0.51);
    -webkit-box-shadow: 1px 1px 8px 5px rgba(233, 205, 233, 0.51);
    -moz-box-shadow: 0px 1px 20px 10px rgba(233, 205, 233, 0.51);
    text-shadow: 0px 0px 0px #000000;
    border: ridge #000000 0px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }